/* 폰트 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
html, .tui-editor-contents {
  font-family: 'LotteMartDream', sans-serif !important;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:inherit;
  text-decoration:none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1 {
    color: var(--secondary-color);
}


/* 임시 */
a {
    color: var(--primary-color);
}

/* 라이브러리 */
.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}

.flex-ai-c {
  align-items:center;
}

.flex-jc-e {
	justify-content:flex-end;
}

.flex-wrap {
  flex-wrap:wrap;
}

.flex-column {
  flex-direction:column;
}

.flex-grow-1 {
  flex-grow:1;
}

.flex-jc-sb {
	justify-content:space-between;
}
.flex-jc-sa {
	justify-content:space-around;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.min-height-100vh {
  min-height:100vh;
}

.bg-pink {
  background-color:pink;
}

.bd-green {
  border:10px solid green;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.height-100p {
  height:100%;
}

.block {
  display:block;
}

.none {
	display:none;
}

.hover-underline:hover{
  text-decoration:underline;
}

.line {
  height:1px;
  width:100%;
  background-color:var(--primary-color);
  opacity:50%;
}

/* 커스텀 */
.con-min-width {
  min-width:1200px;
  padding:0 20px;
}

.con {
  width:1200px;
}

/* 로고바 시작 */
.logo-bar {
  text-align:center;
  padding:40px;
}

.logo {
  font-size:3rem;
}

.logo__text {
  color:var(--secondary-color);
}

.ico {
  color:var(--primary-color);
}

.bg-red {
  background-color:red;
}

/* 로고바 끝 */

/* 메뉴바 시작 */
.menu-bar {
  margin-top: 20px;
}

.menu-bar__menu-1 > ul > li {
  flex:1 0 0;
  position:relative;
}


.menu-bar__menu-1 > ul ul {
  opacity:0;
  visibility:hidden;
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  font-size:14px;
  z-index:10;
  transition:all 0.3s;
}

.menu-bar__menu-1 ul > li > a {
  text-align:center;
  padding:20px 0;
}


.menu-bar__menu-1 ul > li:hover > a {
  color:var(--secondary-color);
  text-decoration:underline;
}

.menu-bar__menu-1 > ul > li:hover > ul {
  opacity:1;
  visibility:visible;
  background-color:var(--bg-color);
}
/* 메뉴바 끝 */

/* 타이틀바 시작 */
.title-bar {
  margin-top:30px;
  margin-bottom:30px;
}
/* 타이틀바 끝 */

/* 하단바 시작 */
.bottom-bar {
	height:100px;
}

.bottom__logo {
  width:100px;
}

.logo__mini {
  font-size:20px;
  text-align:center;
  padding:10px;
}
.bottom-bar__site-info {
  color:graytext;
  margin-left:40px;
  opacity : 60%;
}
.bottom-bar__site-info > div{
  padding:5px;
}
.bottom-bar__copyright {
  color:graytext;
  opacity : 60%;
}

/* 하단바 끝 */



/* 게시물 리스트 시작 */
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width) - var(--article-list__cell-comments__width));
  --article-list__cell-comments__width:150px;
}

.article-list > * > div{
  display: flex;
}

.article-list > header > div > div {
  position:relative;
}

.article-list > header > div > div:not(:last-child)::after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:1px;
  height:10px;
  background-color:var(--font-color);
}

.article-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list__cell-comments {
  width:var(--article-list__cell-comments__width);
}

.article-list > .main .article-list__cell-title {
  text-align:left;
  padding-left:10px;
}

.article-list > .main > div {
  border-top:1px solid var(--font-color);
}

/* 게시물 리스트 끝 */

/* 게시물 리스트 페이지 메뉴 시작 */
.article-page-menu {
  margin-top:20px;
}

.article-page-menu > ul > li > a {
  padding:7px;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child) > a {
  border:1px solid transparent;
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  border-color:#afafaf;
}

.article-page-menu__link--selected {
  color:red;
}
/* 게시물 리스트 페이지 메뉴 끝 */ 

/* 게시물 상세 시작 */
.article-detail > *:not(:first-child) {
  margin-top:40px;
}

.article-detail__body {
  border-top:2px solid var(--font-color);
  padding-top:40px;
}

.meta-data__left > *{
  margin-right:20px;
}

.meta-data__right > *{
  margin-left:20px;
}

.article-detail__menu > span:nth-child(2) > a{
	margin-left:40px;
	margin-right:40px;
}

/* 게시물 상세 끝 */
/* 최상단 이동 버튼 시작 */
.topBtn-1 {
  position: fixed;
  right: 3%;
  bottom: 11%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 15px;
  text-align: center;
}
.topBtn-2 {
  position: fixed;
  right: 3%;
  bottom: 10%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 15px;
  text-align: center;
}

.topBtn-2:hover {
  cursor:pointer;
}
/* 최상단 이동 버튼 끝 */

/* 홈 페이지 텍스트 시작 */
.index-box > div {
	padding-top:20px;
	position:relative;
}

.slide {
  width:500px;
}

*{margin:0;padding:0;}
ul,li{list-style:none;}
.slide{height:300px;overflow:hidden;}
.slide ul{position:relative;height:100%;}
.slide li{position:absolute;left:0;right:0;top:0;bottom:0;opacity:0;animation:fade 8s infinite;transition:all 0.5s;}
.slide li:nth-child(1){background:url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdMnVV7%2FbtqQ3grQ99F%2Fnx3LTIJPPHDnO8TjYNx6m0%2Fimg.jpg');animation-delay:0s}
.slide li:nth-child(2){background:url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbFqmPv%2FbtqQ1MLjWmJ%2FVdQBuKsISAzJxEMFKy8eq0%2Fimg.jpg');animation-delay:2s}
.slide li:nth-child(3){background:url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FYbasC%2FbtqRcGQomQa%2FNz5Wvvw0zJdsujgDSqT0hK%2Fimg.jpg');animation-delay:4s}
.slide li:nth-child(4){background:url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcVljcH%2FbtqQZx84yiW%2FJcn0WwFUidO8woX1wR48QK%2Fimg.jpg');animation-delay:6s}
/* 100 / 8 = 12.5 */
@keyframes fade {
  0% {opacity:0;}
  5% {opacity:1;}
  25% {opacity:1;}
  30% {opacity:0;}
  100% {opacity:0;}
}

.index-box__content {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

}
.index > div {
  width:50%;
  height:50%;
  position:absolute;
  top:0;
  left:0;

}

.index > .right {
  top:0;
  right:0;
  left:auto;
}

.index-text {
  padding:10px 0px;
}

.profile {
  position:absolute;
  padding:20px 0;
}

.profile > div{
  padding:7px 0;
}

.right {
	border-left:2px solid var(--primary-color);
	padding-left:160px;
	padding-right:100px;
}
/* 홈 페이지 텍스트 끝 */

/* 다크모드 슬라이더 시작 */
.switch-box {
	position:relative;
	margin-top:10px;
}

.theme-switch-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  right:5%;
}

em {
	display: flex;
	align-items:center;
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* 다크모드 슬라이더 끝 */

/* 다크모드 시작 */
:root {
    --primary-color: skyblue;
    --secondary-color: pink;
    --font-color: #424242;
    --bg-color: #fff;
    --box-color: #f5f7f8;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #28a6db;
    --secondary-color: #ff6480;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --box-color: #000040;
    --heading-color: #818cab;
}

/* 토스트 UI 뷰어 시작 */
.tui-editor-contents pre {
	background-color:var(--box-color) !important;
}

.tui-editor-contents p {
	color:var(--font-color) !important;
}

.tui-editor-contents dir, .tui-editor-contents menu, .tui-editor-contents ol, .tui-editor-contents ul {
	color:var(--font-color) !important;
}

.tui-editor-contents h1, .tui-editor-contents h2, .tui-editor-contents h3, .tui-editor-contents h4, .tui-editor-contents h5, .tui-editor-contents h6 {
	color:var(--heading-color) !important;
}
.toast-ui-youtube-plugin-wrap {
	position:relative;
}
.toast-ui-youtube-plugin-wrap > iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.toast-ui-youtube-plugin-wrap::before {
	content:"";
	display:block;
	padding-top:calc(100% / 16 * 9);
}
.toast-ui-codepen-plugin-wrap > iframe {
  width:100%;
}
/* 토스트 UI 뷰어 끝 */
/* disqus 설정 시작 */
#disqus_thread {
	color: var(--bg-color) !important;
	border-style: 0px solid;
	border-color: var(--box-color) !important;
	padding: 5px;
}

#dsq-content #dsq-comments .dsq-comment-body {
	color: var(--bg-color) !important;
	background-color: var(--heading-color) !important;
}

.dsq-reaction-body {
	color: var(--bg-color) !important;
}

.dsq-reaction-header cite, .dsq-reaction-header span {
	color: var(--box-color) !important;
}

.dsq-reaction-retweets {
	color: var(--box-color) !important;
}
/* disqus 설정 끝 */

/* 다크모드 끝 */

/* 통계 페이지 시작 */
.statistics-detail {
  height:400px;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.statistics-detail > div {
  font-size:3rem;
  padding:20px;
}
/* 통계 페이지 끝 */

/* 게시물 검색 시작 */
html, body {
	 overflow-x: hidden;
}
 .row {
	 max-width: 800px;
	 margin: 0 auto;
	 padding: 60px 30px;
	 position: relative;
	 z-index: 1;
	 text-align: end;
}
 .search-bar span {
	 position: relative;
	 display: inline-block;
	 margin: 30px 10px;
}
 
 .clean-slide {
	 position: relative;
	 display: inline-block;
	 width: 215px;
	 padding: 10px 0 10px 15px;
	 font-weight: 400;
	 color: var(--secondary-color);
	 background: #efefef;
	 border: 0;
	 border-radius: 3px;
	 outline: 0;
	 text-indent: 60px;
	 transition: all 0.3s ease-in-out;
}
 .clean-slide::-webkit-input-placeholder {
	 color: #efefef;
	 text-indent: 0;
	 font-weight: 300;
}
 .clean-slide + label {
	 display: inline-block;
	 position: absolute;
	 transform: translateX(0);
	 top: 0;
	 left: 0;
	 bottom: 0;
	 padding: 13px 15px;
	 font-size: 11px;
	 font-weight: 700;
	 text-transform: uppercase;
	 color: var(--primary-color);
	 text-align: left;
	 text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	 transition: all 0.3s ease-in-out, color 0.3s ease-out;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
	 overflow: hidden;
}
 .clean-slide + label:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 right: 100%;
	 bottom: 0;
	 width: 100%;
	 background: var(--primary-color);
	 z-index: -1;
	 transform: translate(0);
	 transition: all 0.3s ease-in-out;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
}
 .clean-slide:focus, .clean-slide:active {
	 color: var(--secondary-color);
	 text-indent: 0;
	 background: #efefef;
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 .clean-slide:focus::-webkit-input-placeholder, .clean-slide:active::-webkit-input-placeholder {
	 color: #aaa;
}
 .clean-slide:focus + label, .clean-slide:active + label {
	 color: #fff;
	 text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
	 transform: translateX(-100%);
}
 .clean-slide:focus + label:after, .clean-slide:active + label:after {
	 transform: translate(100%);
}
/* 게시물 검색 끝 */

/* vue 시작 */
[v-cloak] {
	display:none;
}
/* vue 끝 */